
<app-incentivos-navbar></app-incentivos-navbar>

<div class="background-container" style="padding-top: 30px;">
  <div class="container" >
    <h2 style="color: rgb(245, 245, 245); margin-bottom: 30px">
      Tabla de Incentivos
    </h2>

    <div class="container-fluid">
      <div class="row" style="background-color: #ccc; border-radius: 10px">
        <div class="col-lg-4">
          <div
            style="margin-right: 30px; padding-top: 20px; padding-bottom: 20px"
          >
            <h4 style="color: #000064; font-size: 20px; font-weight: bold">
              Filtro Periodo
            </h4>
            <select
              class="custom-select"
              name="select"
              [(ngModel)]="selectedPeriodo"
              (change)="filtrarIncentivos()"
            >
              <option value="">Todo</option>
              <option *ngFor="let periodo of periodos" [value]="periodo">
                {{ periodo }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-lg-4" style="padding-top: 20px">
          <h4 style="color: #000064; font-size: 20px; font-weight: bold">
            Filtro Tipo
          </h4>
          <select
            class="custom-select"
            name="selectTipo"
            [(ngModel)]="selectedTipo"
            (change)="filtrarIncentivosTipo()"
          >
            <option value="">Todo</option>
            <option *ngFor="let empresa of empresas" [value]="empresa">
              {{ empresa }}
            </option>
          </select>
        </div>
        <div class="row">
          <h4 style="color: #000064; font-size: 20px; font-weight: bold">
            Totales
          </h4>
          <div class="col-lg-2">
            <p
              style="background-color: white; border-radius: 10px; padding: 8px"
            >
              <span style="font-weight: bold"
                >Monto General: {{ "S/." + totalMontoGeneral }}</span
              >
            </p>
          </div>

          <div class="col-lg-2" *ngFor="let montoEmpresa of montoPorEmpresa">
            <p
              style="background-color: white; border-radius: 10px; padding: 8px" 
            >
              <span style="font-weight: bold; border-radius: 10px;"
              [ngStyle]="
                montoEmpresa.empresa === selectedTipo
                  ? estiloFondoParaTipoSeleccionado
                  : null
              ">Total {{montoEmpresa.empresa }}:S/.{{montoEmpresa.totalMontoEmpresa }}</span
              >
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <br />
        <br />
        <div class="table-responsive">
          <table class="table table-dark">
            <thead>
              <tr style="border-color: aliceblue">
                <th style="background-color: #ccc; color: black" class="borde">
                  ID
                </th>
                <th style="background-color: #ccc; color: black" class="borde">
                  Tipo Incentivo
                </th>
                <th style="background-color: #ccc; color: black" class="borde">
                  Periodo
                </th>
                <th style="background-color: #ccc; color: black" class="borde">
                  DNI Promotor
                </th>
                <th style="background-color: #ccc; color: black" class="borde">
                  Nombre Promotor
                </th>
                <th style="background-color: #ccc; color: black" class="borde">
                  PDV Incentivo
                </th>
                <th style="background-color: #ccc; color: black" class="borde">
                  Nombre Incentivo
                </th>
                <th style="background-color: #ccc; color: black" class="borde">
                  Vigencia incentivo
                </th>
                <th style="background-color: #ccc; color: black" class="borde">
                  Monto
                </th>
                <th style="background-color: #ccc; color: black" class="borde">
                  Estado Incentivo
                </th>
                <th style="background-color: #ccc; color: black" class="borde">
                  Aceptar
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let incentivo of listIncentivos">
                <td>{{ incentivo.id }}</td>
                <td>{{ incentivo.empresa }}</td>
                <td>{{ incentivo.periodoIncentivo }}</td>
                <td>{{ incentivo.dniPromotor }}</td>
                <td>{{ incentivo.nombreCompleto }}</td>
                <td>{{ incentivo.puntoventa }}</td>
                <td>{{ incentivo.nombreIncentivo }}</td>
                <td>
                  Del {{ incentivo.fechaInicio | date : "dd/MM/yyyy" }} al
                  {{ incentivo.fechaFin | date : "dd/MM/yyyy" }}
                </td>
                <td>S/. {{ incentivo.monto }}</td>
                <td>{{ incentivo.estadoIncentivo }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-success"
                    (click)="onAceptar(incentivo)"
                    [disabled]="incentivo.aceptado"
                  >
                    Aceptar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
